

$defaultBgColor: #ffc300;
$defaultGreen: #06c1ae;
$starColor: #f5c164;
$defaultTextColor: #333;
$defaultOrange: #f60;


$primaryColor: #007bff;
$successColor: #28a745;
$warningColor: #ffc107;
$infoColor: #17a2b8;
$dangerColor: #f56c6c;

